{% extends "_layouts/cp" %}

{% set title = title ?? "Translations" %}
{% set selectedSubnavItem = "translations" %}

{% block sidebar %}
  <nav aria-label="Pragmatic Translations">
    <ul>
      <li><a class="{{ activeSection == 'entries' ? 'sel' : '' }}" href="{{ url('pragmatic-translations/entries') }}">Entradas</a></li>
      <li><a class="{{ activeSection == 'import-export' ? 'sel' : '' }}" href="{{ url('pragmatic-translations/import-export') }}">Importar/exportar</a></li>
      <li><a class="{{ activeSection == 'groups' ? 'sel' : '' }}" href="{{ url('pragmatic-translations/groups') }}">Grupos</a></li>
      <li><a class="{{ activeSection == 'options' ? 'sel' : '' }}" href="{{ url('pragmatic-translations/options') }}">Opciones</a></li>
    </ul>
  </nav>
{% endblock %}

{% block content %}
  {% block main %}{% endblock %}
{% endblock %}
