{% extends "pragmatic-translations/_layout" %}

{% set title = "Grupos" %}
{% set activeSection = "groups" %}

{% block main %}
  <div class="flex justify-between align-center">
    <h1>Grupos</h1>
  </div>

  <form method="post" accept-charset="UTF-8" style="margin-top: 12px;">
    {{ csrfInput() }}
    {{ actionInput('pragmatic-translations/translations/save-groups') }}
    {{ redirectInput('pragmatic-translations/groups', { group: group, q: search, perPage: perPage }) }}

    <table class="data fullwidth">
      <thead>
        <tr>
          <th>Group</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        {% for groupName in groups %}
          <tr>
            <td>
              <input type="hidden" name="groups[{{ loop.index0 }}][original]" value="{{ groupName }}">
              {% if groupName == 'site' %}
                <input class="text fullwidth" value="{{ groupName }}" disabled>
              {% else %}
                <input class="text fullwidth" name="groups[{{ loop.index0 }}][name]" value="{{ groupName }}">
              {% endif %}
            </td>
            <td>
              {% if groupName != 'site' %}
                <label class="checkbox">
                  <input type="checkbox" name="groups[{{ loop.index0 }}][delete]" value="1">
                  <span></span>
                </label>
              {% endif %}
            </td>
          </tr>
        {% endfor %}

        {% set newGroupIndex = groups|length %}
        <tr data-new-group="1">
          <td>
            <input type="hidden" name="groups[{{ newGroupIndex }}][original]" value="">
            <input class="text fullwidth" name="groups[{{ newGroupIndex }}][name]" placeholder="New group">
          </td>
          <td></td>
        </tr>
      </tbody>
    </table>

    <div class="buttons" style="margin-top: 12px;">
      <button class="btn" id="add-group-row" type="button">Add Group</button>
      <button class="btn submit" type="submit">Save Groups</button>
    </div>
  </form>

  {% js %}
    (function() {
      const addGroupButton = document.getElementById('add-group-row');
      if (addGroupButton) {
        addGroupButton.addEventListener('click', function() {
          const body = document.querySelector('tbody');
          const template = body.querySelector('tr[data-new-group="1"]');
          if (!template) return;

          const newIndex = body.querySelectorAll('tr').length;
          const clone = template.cloneNode(true);
          clone.removeAttribute('data-new-group');

          clone.querySelectorAll('input').forEach(function(input) {
            const name = input.getAttribute('name');
            if (name) {
              input.setAttribute('name', name.replace(/groups\[\d+\]/, 'groups[' + newIndex + ']'));
            }
            input.value = '';
          });

          body.appendChild(clone);
        });
      }
    })();
  {% endjs %}
{% endblock %}
